<div class="legal-wrapper">
    <h2>Terms & Conditions</h2>
    <h1>TERMS OF SERVICE</h1>

    <div class="paragraph">
        Effective Date:
    </div>
    <div class="paragraph">
        To print our Terms of Service, click <a href="#" class="tos-print-link">here</a>.
        To print our Privacy Policy, click <a href="#" class="policy-print-link">here</a>.
    </div>
    <div class="paragraph">
        PLEASE READ THIS AGREEMENT CAREFULLY. IT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF
        THE SERVICE.
    </div>
    <div class="paragraph">

    </div>
    <div class="paragraph">

    </div>
    <div class="paragraph">

    </div>
</div>
